.env
.venv
.idea/
__pycache__/
db.sqlite3
*.egg-info/

# PyInstaller
dist/
*.spec

# Client
client/dist/
client/*.spec
client/src/*.egg-info/

# PyInstaller
client/dist/
client/*.spec

# Python
*.pyc
*.pyo
*.egg-info/
