django >= 5.1
channels[daphne] >= 4.0
djangorestframework >= 3.15
django-allauth[socialaccount] >= 65.0
channels-redis >= 4.2
djangorestframework-simplejwt >= 5.3
psycopg[binary] >= 3.2
dj-database-url >= 2.0
